# FILE:    ~/.gitignore
# AUTHOR:  mark.braun.1988@gmail.com
# SUMMARY: Ignores every file in the home directory, expect
#          the selected files.


# Ignore All
*


# But include the following:

# Git Files
!.gitignore

